

<a onclick="openNav();" class="notification">
    <img src="~/Images/ic_notifications_black_48dp.png" class="icon" />
    <span class="badge">4</span>
</a>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h2>wijzigingen</h2>
    @for (int i = 0; i < 5; i++)
    {
        <div class="message-box">
            <div class="message-text">
                <p>Taak "naam taak" is aangepast</p>
                <a href="#">Klik hier voor details</a>
            </div>
            <div class="message-img">
                <img src="~/Images/Icon.png" />
            </div>
        </div>
    }

</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>